<div class="container" [@fade]="true">
  <div *ngIf="!error">
    <div class="text-center">
      <button class="btn btn-primary" routerLink="/"><i class="fa fa-list"></i> View Contact List</button>
      <button class="btn btn-warning" (click)="insurance()"><i class="fa fa-car"></i> Vehicle Insurance</button>
      <button class="btn btn-info" (click)="printList()" id="printBtn"><i class="fa fa-print"></i> Print</button>
      <button class="btn btn-secondary" routerLink="/admin"><i class="fa fa-lock"></i> Admin</button>
    </div>

    <div class="d-flex justify-content-center my-4" *ngIf="loading">
      <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
    </div>

    <div *ngIf="!loading">
      <mat-form-field class="w-100">
        <input matInput placeholder="Search..." [(ngModel)]="filter" (ngModelChange)="updateFilter()">
        <span matPrefix><i class="fa fa-search fa-lg"></i> &nbsp;</span>
        <span matSuffix *ngIf="filter" (click)="clearFilter()"><i class="fa fa-times fa-lg"></i></span>
      </mat-form-field>

      <div class="row" id="printThis">
        <div class="col-12 col-sm-4 col-md-3 contactBox" *ngFor="let contact of contacts">
          <h3>{{contact.first_name}} {{contact.last_name}}</h3>
          <p *ngIf="contact.pseudonym"><em><span>{{contact.pseudonym}}</span></em></p>
          <p *ngIf="contact.email">Email: <span>{{contact.email}}</span></p>
          <p *ngIf="contact.phone">Cell: <span>{{contact.phone | tel}}</span></p>
          <p *ngIf="contact.phone2">Home: <span>{{contact.phone2 | tel}}</span></p>
          <p *ngIf="contact.phone3">Office: <span>{{contact.phone3 | tel}}</span></p>
          <p *ngIf="contact.fax">Fax: <span>{{contact.fax | tel}}</span></p>
          <p *ngIf="contact.fax2">A/R Fax: <span>{{contact.fax2 | tel}}</span></p>
          <p *ngIf="contact.birthday">Birthday: <span [innerHTML]="contact.birthday | bday"></span></p>
          <p *ngIf="contact.disc">DiSC: <span>{{contact.disc}}</span></p>
        </div>
      </div>

      <p *ngIf="!contacts.length">No contacts found.</p>
    </div>
  </div>

  <div [@topDown]="true" *ngIf="error">
    <p class="text-danger">Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
  </div>
</div>
