<div class="container" [@fade]="true">
  <div *ngIf="!error">
    <div class="text-center">
      <button class="btn btn-primary" routerLink="/full"><i class="fa fa-table"></i> View Full Directory</button>
      <button class="btn btn-warning" (click)="insurance()"><i class="fa fa-car"></i> Vehicle Insurance</button>
      <button class="btn btn-secondary" routerLink="/admin"><i class="fa fa-lock"></i> Admin</button>
    </div>

    <div class="d-flex justify-content-center my-4" *ngIf="loading">
      <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
    </div>

    <div *ngIf="!loading">
      <mat-form-field class="w-100">
        <input matInput placeholder="Search..." [(ngModel)]="filter" (ngModelChange)="updateFilter()">
        <span matPrefix><i class="fa fa-search fa-lg"></i> &nbsp;</span>
        <span matSuffix *ngIf="filter" (click)="clearFilter()"><i class="fa fa-times fa-lg"></i></span>
      </mat-form-field>

      <ul id="contacts">
        <div class="group">
          <li *ngFor="let contact of contacts | orderBy: ['last_name', 'first_name']">
            <div class="row">
              <div class="col-12">
                <img [src]="contact.image" [alt]="contact.first_name + ' ' + contact.last_name">

                <div class="info">
                  <h3>{{contact.first_name}} {{contact.last_name}}</h3>
                  <p *ngIf="contact.pseudonym"><em><span>{{contact.pseudonym}}</span></em></p>
                  <p *ngIf="contact.phone"><i class="fa fa-phone"></i>: <span>{{contact.phone | tel}}</span></p>
                  <p *ngIf="contact.phone3"><i class="fa fa-phone"></i>: <span>{{contact.phone3 | tel}}</span></p>
                  <p *ngIf="contact.fax"><i class="fa fa-fax"></i>: <span>{{contact.fax | tel}}</span></p>
                  <p *ngIf="contact.email"><i class="fa fa-envelope"></i>: <span>{{contact.email}}</span></p>
                </div>

                <div class="buttons" *ngIf="!contact.phone3">
                  <a [href]="'tel:' + contact.phone" title="Call"><i class="fa fa-phone"></i></a>
                  <a [href]="sanitize('sms:' + contact.phone)" title="Text"><i class="fa fa-comment"></i></a>
                  <a [href]="'mailto:' + contact.email" title="Email"><i class="fa fa-envelope"></i></a>
                </div>

                <div class="buttons" *ngIf="contact.phone3">
                  <a [href]="'tel:' + contact.phone3" title="Call" style="width:100%;"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div [@topDown]="true" *ngIf="error">
    <p class="text-danger">Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
  </div>
</div>
